*~
.*~
*.pyc
code/*.egg-info/
code/.pytest_cache/
code/.coverage
code/notebooks/*.nbconvert.ipynb
manuscript/figures/*-eps-converted-to.pdf
manuscript/output/
.env
*/.ipynb_checkpoints/
*.pkl
.ipynb_checkpoints
.ipynb_checkpoints
.idea/
*.v2
*.trace
*.profile-empty
.DS_Store
*.h5
data/*
code/logs/*
